*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainDiv{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#contentDiv{
    background-image: url('./image3.jpg');
    color: white;
    background-position: center;
    background-size: cover;
}